/* 1. Import design tokens */
@import "./variables.css";

/* 2. Inject custom component styles */
@import "./components.css";

/* 3. Inject Tailwind's base, components, and utilities styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Apply base styles to the body */
@layer base {
  body {
    @apply bg-background-primary text-text-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* 4. Reduced motion accessibility */
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}